<% layout('layouts/boilerplate') %>
    <div class="row mb-5">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST" novalidate class="campground-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Add title</label>
                    <input type="text" class="form-control" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Add location</label>
                    <input type="text" class="form-control" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <!-- <div class="mb-3">
                    <label for="image" class="form-label">Add image Url</label>
                    <input type="text" class="form-control" id="image" name="campground[image]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div> -->
                <div class="input-group mb-3 custom-file">
                    <input type="file" class="form-control" id="imagesUpload" multiple name="image">
                    <label class="input-group-text custom-file-label" for="imagesUpload">Upload</label>
                </div>

                <div class="input-group mb-3">
                    <label for="price" class="form-label">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="Campprice">$</span>
                        <input type="number" id="price" class="form-control" placeholder="0.00" aria-label="Campprice"
                            name="campground[price]" aria-describedby="" required>
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Add description </label>
                    <textarea cols="10" rows="4" class="form-control" id="description" name="campground[description]"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div>
                    <button class="btn btn-success">Add Campground</button>
                    <a href="/campgrounds" class="btn btn-primary">Back</a>
                </div>
            </form>
        </div>
    </div>